footer.footer 
  .footer__container.container      
      nav.footer__nav
        ul.footer__menu.menu
          li.menu__item
            a.menu__link(href="/") Главная
          li.menu__item
            a.menu__link(href="/") Как работает
          li.menu__item
            a.menu__link(href="/") Преимущества
          li.menu__item
            a.menu__link(href="/") Доставка
          li.menu__item
            a.menu__link(href="/") Контакты
        a.footer__logo(href="/")
          img.footer__image(src="assets/images/logo.svg", alt="logo")        
        a.footer__burger
          img.footer__burger-ico(src="assets/images/burger.svg", alt="")            
        .footer__contact.contact
          .contact__phone
            img.contact__icon(src="assets/images/phone.svg", alt="")
            a.contact__number 7 455 345 23 00
          button.contact__button Обратный звонок
        