.overlay#overlay
  ul.overlay__menu
    li.overlay__item
      a.overlay__link(href="/") Главная
    li.overlay__item
      a.overlay__link(href="/") Как работает
    li.overlay__item
      a.overlay__link(href="/") Преимущества
    li.overlay__item
      a.overlay__link(href="/") Доставка
    li.overlay__item
      a.overlay__link(href="/") Контакты
  .overlay__contact
    img.overlay__icon(src="assets/images/phone-white.svg", alt="")
    a.overlay__number 7 455 345 23 00
  a.overlay__close#overlay__close
    img.header__burger-ico(src="assets/images/close.svg", alt="")  