section.docs 
  .docs__container.container 
    .docs__wrapper 
      .docs__left 
        img.docs__image(src="assets/images/docs-img.png", alt="")      
      h2.docs__title 
        | УСТРОИСТВО НЕ БОЛЬШЕ СПИЧЕЧЕНОГО КОРОБКА И 
        span.docs__title-important В УПРАВЛЕНИЕ НЕ СЛОЖНЕЕ ДЕТСКОЙ ИГРУШКИ
      ol.docs__list
        li.docs__item Вы получаете GPS-маячок, который можно использовать в комплекте с предлагающимся или уже имеющимся ошейником
        li.docs__item Вставляете в маячок SIM-карту оператора вашей местности
        li.docs__item Активируете трекер по инструкции
        li.docs__item Устанавливаете на телефон приложение или используете браузер, чтобы воспользоваться всем функционалом устройства
    .docs__content 
      p.docs__paragraph 
        span.docs__paragraph-important Если нет доступа к интернету 
        | и необходимо срочно узнать 
      p.docs__paragraph 
        | местоположение 
        | любимца, можно отправить SMS на номер 
        | SIM-карты в 
      p.docs__paragraph 
        | маячке и получить в обратном сообщение координаты