section.expect
  .expect__container.container
    .expect__section-top 
      .expect__textbox 
        img.expect__left-image(src="assets/images/expect-whitedog.png", alt="")
        img.expect__right-image(src="assets/images/expect-hand.png", alt="")
        p.expect__paragraph 
          | Наши четвероногие друзья очень свободолюбивы. 
          | Мы не можем всегда держать их на коротком поводке. 
          | Им нужна прогулка, пробежка, новые запахи.
        p.expect__paragraph
          | Мы пускаем их с поводка и всегда в напряжении, чтобы они не сбежали. 
        p.expect__paragraph.expect__paragraph--important-text 
          | Ведь с потерей любимца семьи невозможно смириться!
    .expect__section-bottom
      h2.expect__title
        | ЧТО ОЖИДАЕТ ВАШЕГО ПИТОМЦА ПОТЕРЯВШЕГОСЯ БЕЗ 
        span.expect__title--important GPS-ОШЕЙНИКА
      .expect__wrapper 
        .expect__wrapper-left
          ul.expect__list.list
            li.list__item
              img.list__icon(src="assets/images/expect-icon.svg", alt="")
              p.list__text Бродячая жизнь в поисках утраченного дома
            li.list__item
              img.list__icon(src="assets/images/expect-icon.svg", alt="")
              p.list__text Выживание в мире без навыков добычи пропитания и самозащиты
            li.list__item
              img.list__icon(src="assets/images/expect-icon.svg", alt="")
              p.list__text Попадание в руки к недобросовестным или жестоким новым хозяевам
            li.list__item
              img.list__icon(src="assets/images/expect-icon.svg", alt="")
              p.list__text Плачевный финал от холода, болезней или колес автомобиля
        .expect__wrapper-right
          .expect__imagebox
            img.expect__bg(src="assets/images/expect-dog.png", alt="")
            p.expect__dog-message Розыскивается
            