section.life 
  .life__container.container
    h2.life__title GPS-ТРЕКЕР НА ВСЕ СЛУЧАИ ЖИЗНИ ПИТОМЦА
    .life__wrapepr
      ul.life__ul
        li.life__list
          .life__image-box
            img.life__icon(src="assets/images/life-1.svg", alt="")        
          h3.life__subtitle Защищен от физических повреждений
          p.life__paragraph Устойчив к пыли и влаге благодаря защите из силиконового чехла, что особенно пригодится собакам, любящим водные процедуры или “грязевые ванны”.
        li.life__list
          .life__image-box
            img.life__icon(src="assets/images/life-2.svg", alt="")        
          h3.life__subtitle Автоматически оповещает
          p.life__paragraph Присылает уведовление на телефон о скором окончание заряда батареи, чтобы вы не забыли зарядить устройство
        li.life__list
          .life__image-box
            img.life__icon(src="assets/images/life-3.svg", alt="")        
          h3.life__subtitle Передает все данные
          p.life__paragraph Присылает в приложение на вашем телефоне информацию о местоположении животного, его дистанции, скорости движения и т.д. 
        li.life__list
          .life__image-box
            img.life__icon(src="assets/images/life-4.svg", alt="")        
          h3.life__subtitle Работает от аккумулятора
          p.life__paragraph Функционален без подзарядки на протяжении 3-5 дней, которых вполне хватит, чтобы отыскать своего любимца.
  .life__bottom          