section.gps 
  .gps__triangle
  .gps__center
    .gps__container.container
      .gps__top-section
        .gps__left
          h3.gps__title
            span.gps__title-important ИЗБЕЖАТЬ ТАКОЙ УЧАСТИ МОЖНО 
            | С ПОМОЩЬЮ ОШЕЙНИКА С GPS-ТРЕКЕРОМ
          img.gps__image(src="assets/images/gps-1.png", alt="")
        .gps__right
          h3.gps__title
            span.gps__title-important GPS-ОШЕЙНИК 
            | ДЛЯ ДОМАШНИХ ЖИВОТНЫХ - ЭТО СВОБОДА ДЛЯ ПИТОМЦА И ВАШЕ СПОКОЙСТВИЕ
          img.gps__image(src="assets/images/gps-2.png", alt="")
      .gps__bottom-section
        h3.gps__bottom-title ЧТО ДЕЛАЕТ GPS-ОШЕЙНИК?
        .gps__wrapper
          .gps__box.box
            .gps__bg 01
            h4.box__title Следит за животным в режиме онлайн
            p.box__pg Не дает потерять вашего питомца обеспечивая за ним круглосуточное наблюдение в настоящем времени
          .gps__box.box 
            .gps__bg 02
            h4.box__title Сохраняет историю перемещений
            p.box__pg Позволяет определять маршрут питомца и фиксиурет с точностью в 5-10 метров
          .gps__box.box 
            .gps__bg 03
            h4.box__title Отслеживает пройденную дистанцию
            p.box__pg Фиксирует пройденное расстояние по километражу, скорости, напралению и т.д.
          .gps__box.box 
            .gps__bg 04
            h4.box__title Автоматически оповещает владельца
            p.box__pg Устанавливет так называемый “геозабор”, при котором контролируется территория для прогулок на даче или за городом
          .gps__box.box 
            .gps__bg 05          
            h4.box__title Позволяет установить границы территории
            p.box__pg Если ваш питомец пересакает границу дозволенного гуляния, то система высылает вам СМС оповещение.
          .gps__box.box
            .gps__bg 06           
            h4.box__title Оповещает о нарушенных границах
            p.box__pg Основные данные о питомце, маршруте и уровне щаряда батареи поступают автоматически владельцу на телефон.