section.delivery
  .delivery__container.container 
    .delivery__wrapper
      h2.delivery__title.delivery__title--top НЕ ЖДИТЕ, ПОКА ЧЕТВЕРОНОГИЙ ДРУГ ПОТЕРЯЕТСЯ!
      p.delivery__paragraph
        | На расстоянии 
        span.delivery__paragraph-important десятков километров 
        | с GPS-трекером питомец будет всегда под контролем. 
        | Обеспечьте 
        span.delivery__paragraph-important свободу и безопасность 
        | своему любимцу, а свои детям сохраните безоблачное детсво.
      h2.delivery__title.delivery__title--bottom ДОСТАВКА В ЛЮБУЮ ТОЧКУ РОССИИ
      p.delivery__paragraph.delivery__paragraph-center
        | Организуем своевременную доставку GPS-ошейников в ваш город. 
        | Доставка занимает в среднем от 1 до 3 дней с момента оформления 
        | заказа. Возможны варианты как курьерской доставки прямо на дом 
        | или получение GPS-трекера в пунктах самовывоза. Оплата возможна 
        | наличными курьеру или картой после проверки заказа.
      .delivery__select 
        h3.delivery__select-title Ваш регион:
        label.custom-select(for='styledSelect1')
          select#styledSelect1(name='options')
            option(value='1') Москва и МО
            option(value='2') Санкт Петербург            
      .delivery__map
        img.delivery__image(src="assets/images/delivery-map.png", alt="")
        img.delivery__image--mobile(src="assets/images/delivery-map-mobile.png", alt="")
      p.delivery__paragraph.delivery__paragraph-bottom
        | Стоимость и сроки доставки GPS-ошейников в отдаленные города 
        | страны рассчитываются индивидуально. Созвонитесь с нашим 
        | менеджером для уточнения всех деталей пересылки.