section.collar 
  .collar__container.container 
    .collar__wrapper
      .collar__left
        .collar__form.form 
          h2.form__title ЗАКАЗАТЬ GPS-ОШЕЙНИК
          p.form__subtitle Оставьте свои контакты, оформим вашу заявку
          .form__fields
            input.form__input(type="text" placeholder="Ваше имя")
            input.form__input(type="text" placeholder="Ваш телефон")
            button.form__button Отправить
      .collar__right
        img.collar__image(src="./assets/images/consult-img.png", alt="")
        