section.order
  .order__container.container
    .order__wrapper.order__wrapper--top
      .order__imagebox
        img.order__image(src="assets/images/order-1.png", alt="")
      .order__title
        span.order__title-important ЗАКАЗЫВАЙТЕ GPS-ОШЕЙНИК ДЛЯ ДОМАШНИХ ЖИВОТНЫХ, 
        | И ВАШ ПИТОМЕЦ ВСЕГДА БУДЕТ РЯДОМ 
      .order__paragraph
        | Небольшой трекер упростит контроль за домашним питомцем. 
        | Больне не нужно следить в оба глаза на прогулке, бегать 
        | за ним или переживать, что любимец так и не найдется. 
        | Теперь ситуация всегда будет у вас под контролем.
    .order__wrapper.order__wrapper--bottom
      .order__imagebox
        img.order__image(src="assets/images/order-2.png", alt="")
      .order__title
        | СПЕЦИАЛЬНО ДЛЯ ВАС МЫ ПОДГОТОВИЛИ ПОДАРОК - 
        span.order__title-important ПЕРЧАТКУ ДЛЯ УДАЛЕНИЯ ВОЛОС С ДОМАШНИХ ЖИВОТНЫХ      
      .order__paragraph
        | Ну кто же не любит ласку, особенно четвероногие друзья. 
        | С такой перчаткой вы легкими движениями доставите своему 
        | питомцу море удовольствия и заодно избавитесь от проблем с 
        | шерстью по всему дому. 