.collar {
	padding-top: 65px;
	background-color: #75b14e;
	@include mobile-small {
		padding-top: 24px;
	}

	@include desktop-small {
		padding-bottom: 50px;
	}
	.collar__wrapper {
		display: flex;
		justify-content: flex-end;

		@include mobile-small {
			flex-wrap: wrap;
		}

		.collar__left {
			flex: 0 0 61.5%;

			@include mobile-small {
				flex: 0 0 100%;
			}

			@include desktop-small {
				flex-grow: 1;
			}

			.form {
				padding-top: 40px;

				.form__title {
					color: #fff;
					font-size: 36px;
					font-family: "Montserrat-Bold", sans-serif;
					line-height: 44px;
					letter-spacing: 0.3px;

					@include mobile-small {
						font-size: 20px;
					}
				}

				.form__subtitle {
					margin-top: 45px;
					color: #fff;
					font-size: 28px;
					line-height: 44px;
					letter-spacing: -0.2px;

					@include mobile-small {
						margin-top: 22px;
						font-size: 16px;
						line-height: 22px;
					}
				}

				.form__fields {
					display: flex;
					gap: 50px;
					margin-top: 57px;

					@include mobile-small {
						flex-wrap: wrap;
						gap: 33px;
						justify-content: center;
						margin-top: 44px;
					}

					@include desktop-small {
						flex-wrap: wrap;
						gap: 30px;
						justify-content: center;
					}

					.form__input {
						width: 287px;
						height: 71px;
						padding-left: 40px;
						color: #a4a4a4;
						font-weight: 500;
						font-size: 22px;
						line-height: 40px;
						background: #ede7de;
						border: 0;
						border-radius: 50px;

						@include mobile-small {
							width: 270px;
							height: 65px;
							padding-left: 33px;
							font-size: 22px;
						}
					}

					.form__button {
						width: 251px;
						height: 71px;
						color: #404040;
						font-size: 24px;
						font-family: "Montserrat-Bold", sans-serif;
						line-height: 29px;
						background: #ffe55d;
						border: 0;
						border-radius: 50px;
						box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

						@include mobile-small {
							width: 270px;
							height: 65px;
							font-size: 22px;
						}
					}
				}
			}
		}

		.collar__right {
			flex: 0 0 30%;
			overflow: hidden;

			@include mobile-small {
				flex: 0 0 100%;
				padding-top: 20px;
				padding-left: 70px;
			}

			@include desktop-small {
				flex: 0 0 33%;
			}

			.collar__image {
				width: 103%;
				transform: rotateY(180deg);

				@include mobile-small {
					width: 108%;
				}
			}
		}
	}
}
